<div class="container-fluid wrapper">

            <div class="row-fluid heading">
                
                <div class="span8">
                    <h1 class="my-name">Rubén Lazo Molina</h1>
                    <h2 class="my-profession">Front-End Developer</h2>
                    <p class="my-message">
                        Web developer with 7+ years of experience using different tehnologies. Specialized in responsive, SPA's. and mobile first designs. I like to learn new things and i love collaborating and leading development teams. Advanced Knowledge developing in AngularJS, Swagger, BackboneJS, Mustache. Mysql, Advanced Knowledge and optimization of Android developing. Knowledge in Financtial System, Banking and Brokerage business. Project Management with Github, GitLab, SVN.
                    </p>
                </div>
                

            </div>

            <div class="row-fluid resume">

                <div class="span4">

                    <h3 class="my-caption">Education</h3>
                    
                    <h4 class="my-activity">Computing Systems Engineering</h4>
                    <h5 class="my-venture">ITESM CCM <span>2001 - 2005</span></h5>
                 

                </div>
                    
                <!-- column 2 -->
                <div class="span4">

                    <h3 class="my-caption">Employment</h3>
                    
                    <h4 class="my-activity">Front end Developer Jr</h4>
                    <h5 class="my-venture">Grupo Losa, México, Distrito Federal. <span>2008 - 2009</span></h5>
                    <p  class="my-specifics">
                        I developed the company webpage using a responsive design, (HTML5 + CSS3) using different tools for image optimizations. I was in charge the Whole LAMP configuration and designed the data model. All the backend was done with Codeigniter.
                    </p><br>

                    <h4 class="my-activity">Front end Developer Sr</h4>
                    <h5 class="my-venture">Pangea Producciones<span>2009 - 2011</span></h5>
                    <p  class="my-specifics">
                        My work here consisted in developing pure HTML5 + Javascript technologies we used jQuery and Started using the first versions of BackboneJS. I developed a geo localization enabled App for Interjet and an HTML5 game launched in a National Campaign. I developed a webapp for Decosimil to help their marketing team to advertise their new products and services.
 
                    </p><br>
                    
                    <h4 class="my-activity">Front end Developer Sr</h4>
                    <h5 class="my-venture">Planet Media <span>2012 - 2013</span></h5>
                    <p  class="my-specifics">
                        Front-End architecture and leading. My role for this position consisted in define all stack of components in the client side and communication with the server and even give training to rest of developers below my charge in all set of tools we were working. Development stack: AngularJS as main framework. Asynchronous Module Definition Design (RequireJS). Responsive design with Bootstrap + BootstrapUI (integrated with Angular), precompilation with Grunt and Sass. ChartsJS. API restfull as Back-End.
                    </p><br>

                    <h4 class="my-activity">Front end Leader</h4>
                    <h5 class="my-venture">Planet Media <span>2014 - present</span></h5>
                    <p  class="my-specifics">
                        My role for this position consists in define all stack of components in the client side and communication with the server and even give training torest of developers below my charge in all set of tools we were working. Development stack: AngularJS as main framework. Asynchronous Module Definition Design (RequireJS). Responsive design with Bootstrap + BootstrapUI (integrated with Angular), precompilation with Gulp and Sass. ChartsJS. HighCharts API restfull as Back-End. NodeJS Design and implementation of different webapps for private and public banking. Developed hybrid mobile apps using ionic + angularjs + cordova.

                    </p>

                </div>
                    
            </div><!-- end of resume -->

        </div><!-- end of container -->

