<div class="row">
	<div class="col-md-6">
		<table>
		    <thead>
		        <tr>
		            <th></th>
		            <th>User</th>
		            <th>Profile</th>
		            <th>Followers</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="item in users | limitTo: 10">
		            <td><img ng-src="{{item.avatar_url}}" alt="" width="30px"></td>
		            <td>{{item.login}}</td>
		            <td><a href="{{item.html_url}}" target="_blank"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a></td>
		            <td><button type="button" class="btn btn-primary btn-xs" ng-click="openModal()">Launch demo modal
		</button></td>
		        </tr>
		    </tbody>
		</table>
	</div>
	<div class="col-md-6">
		
	</div>
</div>
